extends layout

block content
  section#chatroom
    //div#messages

    div(class="scroll-wrapper")
      div(class="pulldown-scroller")
        div(class="pulldown-wrapper")
          div
            span Pull down and refresh
        div(class="pulldown-list")
          -var n = 0;
            ul
              -while(n < 50)
                li= n++

    div#message-editter
      form(class="row g-3", action='javascript:;')
        div(class="col-9")
          textarea(class="form-control", aria-label="With textarea", id="message")
        div(class="col-3")
          button(type="submit", class="btn btn-primary mb-3", id="send") 发送

