extends layout

block content
  section#chatroom
    div#messages

    div#message-editter
      form.form-inline(action='javascript:;')
        label.sr-only(for="inlineFormInputName2") 输入发送信息
        input#message.form-control.mb-2(type="text", placeholder="在此输入发送信息的内容")
        button#send.btn.btn-primary.mb-2(type="submit") 发送
  script(src="/js/index.js")
