doctype html
html
  head
    block head
      meta(name='viewport', content='width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no')
      title= title
      link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', crossorigin='anonymous')
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(data-main="/scripts/main", src="/js/require.js")
  body
    header#banner
      h1 Giao聊天
    block content
    footer 随便聊聊，享受聊天的乐趣
