doctype html
html
  head
    block head
      meta(name='viewport',content='width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no')
      title= title
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh',crossorigin='anonymous')
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(data-main="scripts/main", src="/js/require.js")
  body
    header#banner
      h1 Giao聊天
    block content
    footer 随便聊聊，享受聊天的乐趣
